body {
    margin: 20px;
}

.box1 {
    width: 100%;
    height: 20vh;
    border: 1px solid black;
    background-color:  rgba(110, 207, 110, 0.89);
}

.box2, .box3, .box4, .box5 {
    float: left;
    margin-top: 3%;
}

.box2, .box4 {
    width: 20%;
    height: 30vh;
    border: 1px solid black;
    margin-right: 60px;
    background-color:  rgb(240, 240, 87);
}

.box3 {
    background-color:  rgb(255, 145, 71);
}

.box5 {
    background-color:  rgb(62, 195, 248);
}

.box3, .box5 {
    width: 75%;
    height: 30vh;
    border: 1px solid black;
}

